*{
	margin:0px;
	padding:0px;
}
html{
	background:rgb(147, 100, 83);
}
body{
	background:white;
	width:800px;
	height:1000px;
	margin:0 auto;
	padding:15px;
	font-family:roboto;
	color:#2d3436;
}
h1,h2{
	text-align:center;
	border-bottom:1px solid grey;
	font-family:Galada;
	padding:20px;
	margin-bottom:25px;
	color:#06040e;
}
table{
	width:100%;
	border-collapse:collapse;
	margin-top:25px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  tr:hover {
    background-color: rgb(219, 204, 204);
}

  
  
tr td,tr th{
	border:1px solid #00b894;
	padding:10px;
}
tr th{
border:none;
background:#00b894;
border:1px solid #00b894;
color:white;
}
a,input[type=submit]{
padding:8px;
color:white;
background:grey;
border-radius:5px;
border:none;
}
input[type=submit]{
margin-top:15px;
background:#00b894;
font-size:15px;
}
input[type=text]{
border:1px solid grey;
height:30px;
width:300px;
display:block;
margin-top:15px;
font-size:15px;
padding:5px;
}

label{
display:block;
margin-top:15px;
font-size:15px;
color:black;
font-weight:bold;
}
p a{
	background:#339595;
	text-decoration:none;
}

	
table td:nth-child(5) a{
background:#3b6e7e;
text-decoration:none;
padding:5px 30px 5px 30px ;
}
table td:nth-child(6) a{
background:#d63030;
text-decoration:none;
padding:5px 30px 5px 30px ;
}
h4{
text-align:right;
color:#6c5ce7;
}

